@model WebApplication12.Models.Programming

@{
	ViewBag.Title = "Confirm";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Confirm</title>
</head>
<body>
	<div>
		@ViewBag.Programming_Name has been added successfully!
	</div>
</body>
</html>

