@model WebApplication12.Models.Programming

@{
    ViewBag.Title = "ConfirmNew";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Confirm</title>
</head>
<body>
	<div>
		Programming has been added successfully!
	</div>
</body>
</html>
