@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>Coursat is an Arabic site that collects free courses 
	available on the Internet in both Arabic and English in 
	all academic fields free of charge while preserving the rights of their owners.
	It is indexed in a simple and easy way for easy access.</p>

<p style="background-color:darkkhaki">
	<ul > Design by:</ul>
	<li>  Yousef Ahmad ALAshqer  </li> 
	
	<li> Heba Manar ELNabries</li>
	
	<li>Nour ALhuda Mohammed Weshah</li>
</p>
