@{
	ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>


<address>
	
	<li>You can email us via the following contact form</li>

	<li>For commercial services and technical support for paid software please communicate with us via the Lab Scheduler</li>

	<li>To join the Attributes team please fill out the form below Join us</li>

	<li>For a course proposal or request, please visit the coursework site </li>
	<li>
		We do not provide guidance or advice via letters You can use the articles and explanations on
		the site of the pages or video courses in the site courseware
	</li>

</address>

