@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style=" background-color :olive"> <h1>  Coursat </h1>


</div>

<div class="row">
    <div class="col-md-4">
		<h2> Languages </h2>
		<p>  Courses in various languages such as Arabic, English,
			Turkish and other languages and explanations of their rules,
			pronunciation, reading and writing.
		</p>
        <p><a class="btn btn-default" href ="/Languages/Index" >View languages &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2> Programming </h2>
		<p> Courses and lessons in different programming languages 
		such as web languages,applications programming languages,
		and desktop application programming languages
		</p>
        <p><a class="btn btn-default" href=" https://en.wikipedia.org/wiki/Programming_language ">	Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
		<h2> Web Development  </h2>
		<p>	Courses in web development and content management systems 
		such as Wordpress,Blogger, Joomla and various explanations
		for webmasters and web developers
		</p>
        <p><a class="btn btn-default" href=" https://en.wikipedia.org/wiki/Web_development  "> Learn More &raquo;</a></p>
    </div>
</div>